/* Import FONTS */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');

h1,h2,h3 {
  font-family: 'Ubuntu', sans-serif;
}

p,a {
  font-family: 'Martel', serif;
}

.bi-trash3:hover {
  color: #FF0000;
}
